*

!Cargo.lock
!Cargo.toml
!nx.json
!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml

!maps/packages/downloader/Cargo.toml
!maps/packages/downloader/src/**/*.rs

!maps/packages/utils/Cargo.toml
!maps/packages/utils/src/**/*.rs