MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_ROOT_USER=haydov_access
MINIO_ROOT_PASSWORD=haydov_secret

OSM_BUCKET_NAME=osm-dumps

OSM_DOWNLOAD_BASE_URL=https://download.geofabrik.de/
OSM_CONCURRENT_REQUESTS=4
OSM_BUCKET_NAME=osm-dumps

AWS_S3_ENDPOINT=http://osm-storage:9000/
AWS_ACCESS_KEY_ID=haydov_access
AWS_SECRET_ACCESS_KEY=haydov_secret
AWS_REGION=us-west-2
AWS_DEFAULT_REGION=us-west-2